@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);
/* line 13, ../scss/body.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 18, ../scss/body.scss */
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../scss/body.scss */
body {
  font-size: 105%;
  font-family: "Open Sans", sans-serif;
  font-color: #3d3536;
  font-background-color: #f9f9f9;
  color: #3d3536;
  background-color: #ffffff;
}

/* line 34, ../scss/body.scss */
a {
  color: #99a478;
  text-decoration: none;
}

/* line 38, ../scss/body.scss */
.sp {
  margin-top: 40px;
}

/* -------------------------------- 

Layout

-------------------------------- */
/* -------------------------------- 

Main components 

-------------------------------- */
/* line 69, ../scss/body.scss */
.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
/* line 20, ../scss/bourbon/addons/_clearfix.scss */
.cd-header::after {
  clear: both;
  content: "";
  display: table;
}
/* line 80, ../scss/body.scss */
.cd-header #cd-logo {
  float: left;
  margin: 13px 0 0 5%;
}
/* line 84, ../scss/body.scss */
.cd-header #cd-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  /* line 69, ../scss/body.scss */
  .cd-header {
    height: 70px;
  }
  /* line 92, ../scss/body.scss */
  .cd-header #cd-logo {
    margin: 23px 0 0 5%;
  }
}

/* line 99, ../scss/body.scss */
.footer {
  font-size: 90%;
  line-height: 150%;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: rgba(255, 255, 255, 0.95);
  z-index: 2;
}
/* line 20, ../scss/bourbon/addons/_clearfix.scss */
.footer::after {
  clear: both;
  content: "";
  display: table;
}

/* line 111, ../scss/body.scss */
.footer h4 {
  font-weight: bold;
}

/* -------------------------------- 

Screen etc.

-------------------------------- */
/* コンテンツ */
/* line 123, ../scss/body.scss */
.item {
  border-radius: 10px;
  background: #fff;
  padding: 1.5em;
  border: 1px solid #999;
  margin: 0 .5em 1.5em;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 136, ../scss/body.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 140, ../scss/body.scss */
p {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.8em;
}

/* line 147, ../scss/body.scss */
h2 {
  font-size: 150%;
  font-weight: bold;
  color: #5aae6b;
}

/* line 152, ../scss/body.scss */
label {
  padding-bottom: 1%;
}

/* line 155, ../scss/body.scss */
.note {
  font-size: 85%;
  font-weight: normal;
}

/* topへ移動 */
/* line 161, ../scss/body.scss */
.arrow-top {
  background-color: #666;
  color: #f8f8f8;
  padding: 13px;
  border-radius: 6px;
}

/* line 168, ../scss/body.scss */
a.arrow-top {
  color: #f8f8f8;
}

/* line 172, ../scss/body.scss */
a.arrow-top:hover {
  background-color: #ccc;
}

/* line 176, ../scss/body.scss */
#back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
}

/* line 184, ../scss/body.scss */
.required {
  color: red;
}

@media only screen and (min-width: 320px) {
  /* layout */
  /* line 190, ../scss/body.scss */
  .cd-container {
    padding-top: 20%;
  }

  /* line 193, ../scss/body.scss */
  .main-container {
    background: #f9f9f9;
    margin-bottom: 10px;
  }

  /* line 198, ../scss/body.scss */
  .main_A {
    width: 95%;
    padding-left: 5%;
  }

  /* line 203, ../scss/body.scss */
  .flexbox {
    width: 420px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 5%;
  }

  /* line 210, ../scss/body.scss */
  .item {
    width: 70%;
  }

  /* main nav */
  /* line 216, ../scss/body.scss */
  .main-nav {
    position: absolute;
    top: 0;
    float: left;
    width: 100%;
    padding: 15px;
    background: #fff url("../img/cd-icon-menu.svg") no-repeat left center;
    cursor: pointer;
  }

  /* line 227, ../scss/body.scss */
  .main-nav ul {
    position: absolute;
    top: 0;
    width: 100%;
    -moz-transform: translateY(-300%);
    -ms-transform: translateY(-300%);
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  /* line 235, ../scss/body.scss */
  .main-nav ul.is-visible {
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    background-color: #f8f8f8;
    margin-left: -15px;
  }

  /* line 241, ../scss/body.scss */
  .main-nav ul li {
    display: block;
    height: 40px;
    padding-left: 20px;
    padding-top: 13px;
    color: #8e7d7f;
  }

  /* line 248, ../scss/body.scss */
  .main-nav ul li:hover {
    background: #cedff2;
  }
}
@media only screen and (min-width: 768px) {
  /* layout  */
  /* line 259, ../scss/body.scss */
  .cd-container {
    width: 800px;
    display: -webkit-flex;
    display: flex;
    margin: 0 auto;
    padding-top: 10%;
  }
  /* line 264, ../scss/body.scss */
  .cd-container::after {
    content: '';
    display: table;
    clear: both;
  }

  /* line 270, ../scss/body.scss */
  .main_A {
    width: 100%;
  }

  /* line 274, ../scss/body.scss */
  .main-container {
    margin: 0 10px 0 0;
    -webkit-flex: 2;
    flex: 2;
  }

  /* line 278, ../scss/body.scss */
  .flexbox {
    width: 420px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 5%;
  }

  /* line 285, ../scss/body.scss */
  .item {
    width: 70%;
  }

  /* main nav */
  /* line 291, ../scss/body.scss */
  .main-nav {
    padding: 5px 0 20px 0;
    margin: 0 0 15px 0;
    position: absolute;
    top: 0;
    width: 100%;
    cursor: auto;
    height: 59px;
    background-color: #fff;
    background-image: none;
  }

  /* line 303, ../scss/body.scss */
  .main-nav ul {
    margin-top: 1.5%;
    padding-top: 8px;
    padding-bottom: 15px;
    position: static;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -moz-transform: translateY(-17px);
    -ms-transform: translateY(-17px);
    -webkit-transform: translateY(-17px);
    transform: translateY(-17px);
  }

  /* line 313, ../scss/body.scss */
  .main-nav ul li {
    display: inline;
    padding: 18px 30px 35px 25px;
    margin: 0 5px 50px 0;
    -moz-border-radius: 2px;
    /*firefox*/
    -webkit-border-radius: 2px;
    /*Safari and Chrome*/
    border-radius: 2px;
    /*Opera, IE9, future-proofing*/
  }

  /* line 321, ../scss/body.scss */
  .main-nav ul li a {
    text-decoration: none;
  }

  /* line 324, ../scss/body.scss */
  .main-nav ul li:hover {
    background: #cedff2;
    text-decoration: none;
  }

  /* line 329, ../scss/body.scss */
  .main-nav ul.is-visible {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@media only screen and (min-width: 1050px) {
  /* line 340, ../scss/body.scss */
  .cd-container {
    padding-top: 7%;
  }

  /* line 343, ../scss/body.scss */
  .main_A {
    width: 95%;
  }

  /* line 346, ../scss/body.scss */
  .flexbox {
    width: 800px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: center;
    flex-direction: center;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  /* line 354, ../scss/body.scss */
  .item {
    width: 50%;
  }
}
