@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);
body {
    font-size:105%;
    font-family: 'Open Sans', sans-serif;
    color:#3d3536;
    
}

a {
    color: #99a478;
    text-decoration: none;
}
img {
  max-width:98%;
}

p {
    text-align:left;
    font-size:150%;
}
.error {
    color:red;
}
.back {
    float:right;
    font-size:150%;
}
.footer {
  font-size:120%;
  margin-top:10%;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: rgba(255, 255, 255, 0.95);
  z-index: 2;
}
.footer::after {
  clear: both;
  content: "";
  display: table;
}
li{
    list-style:none;
}

@media only screen and (min-width:320px) {
  .cd-container {
    padding-top: 20%;
  }
  .main-container {
    background: #f9f9f9;
    margin-bottom: 10px;
  }
  .main_A {
    width: 90%;
    margin: 0 5%;
    padding:5% 2%;
    border:1px solid #999;
    background:#fff;
  }
  .flexbox {
    width: 420px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 5%;
  }
}
@media only screen and (min-width: 768px) {
  .cd-container {
    width: 800px;
    margin: 0 auto;
    padding-top: 10%;
  }
  .cd-container::after {
    content: '';
    display: table;
    clear: both;
  }
  .main_A {
    width: 90%;
    margin: 0 5%;
    padding:5% 2%;
    border:1px solid #999;
    background:#fff;
  }
  .main-container {
    margin: 0 10px 0 0;
    -webkit-flex: 2;
    flex: 2;
  }
}
